<%- include ('./partiels/erreurs_msg') %>

<div class="container">
  <div class="row">
    <div class="col-lg-12">
      <h1 class="text-center my-5">Modifier un produit</h1>
    </div>
  </div>

  <form action="/produits/modifierProduits" method="POST" enctype="multipart/form-data">
    <div class="form-group">
      <label for="nom">Nom :</label>
      <input type="text" class="form-control" id="nom" name="nom"
        value="<%= typeof produit.nom != 'undefined' ? produit.nom : '' %>">
    </div>

    <div class="form-group">
      <label for="type">Type :</label>
      <input type="text" class="form-control" id="type" name="type"
        value="<%= typeof produit.type != 'undefined' ? produit.type : '' %>">
    </div>

    <div class="form-group">
      <label for="description">Description :</label>
      <input type="text" class="form-control" id="description" name="description"
        value="<%= typeof produit.description != 'undefined' ? produit.description : '' %>">
    </div>

    <div class="form-group">
      <label for="taille">Taille :</label>
      <input type="text" class="form-control" id="taille" name="taille"
        value="<%= typeof produit.taille != 'undefined' ? produit.taille : '' %>">
    </div>

    <div class="form-group">
      <label for="couleur">Couleur :</label>
      <input type="text" class="form-control" id="couleur" name="couleur"
        value="<%= typeof produit.couleur != 'undefined' ? produit.couleur : '' %>">
    </div>


    <div class="form-group">
      <label for="prix">Prix :</label>
      <input type="text" class="form-control" id="prix" name="prix"
        value="<%= typeof produit.prix != 'undefined' ? produit.prix : '' %>">
    </div>

    <div class="form-group">
      <label for="fichierImage">Lien URL de l'image :</label>
      <input type="text" class="form-control" id="fichierImage" name="fichierImage"
        value="<%= typeof produit.fichierImage != 'undefined' ? produit.fichierImage : '' %>">
    </div>

    <div class="form-group mt-3">
      <input type="submit" class="btn btn-primary" value="Modifier le produit">
      <input type="reset" class="btn btn-secondary" value="Rétablir">
      <a href="/produits" class="btn btn-secondary">Retour au menu des produits</a>
    </div>
  </form>
</div>